<h1>Lista films</h1>
<div class="container py-3">
    <div class="row">
        <div *ngIf="!movies">
            <span class="spinner-border text-success"></span>
        </div>
        <div class="col-3 py-3" *ngFor="let movie of movies">
            <a [routerLink]="['/movie-details', movie.id]">
                <img src="http://image.tmdb.org/t/p/w500{{movie.poster_path}}" alt="Cover films">
            </a>
            <div class="fs-4">
                <span id="title">{{ movie.title }}</span>
            </div>
            <a [routerLink]="['/movie-details', movie.id]">
            <button class="btn mb-3" type="button" >
                Vai ai dettagli
            </button>
        </a>

        </div>
    </div>
</div>
