<h1>Lista films</h1>
<div class="container py-3">
    <div class="row">
        <div *ngIf="!movies">
            <span class="spinner-border text-success"></span>
        </div>
        <div class="col-3 py-3" *ngFor="let movie of movies">
            <a [routerLink]="['/movie-details', movie.id]">
                <img src="http://image.tmdb.org/t/p/w500{{movie.poster_path}}" alt="Cover films">
            </a>
            <div class="fs-4">
                <span id="title">{{ movie.title }}</span>
            </div>
            <button type="button" (click)="isFavorito(movie.id) ? eliminaFavorito(movie.id) : aggiungiFavorito(movie.id)" [ngClass]="{'bg-success': isFavorito(movie.id), 'bg-danger': !isFavorito(movie.id)}">👍</button>

        </div>
    </div>
</div>
