<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <h1 class="text-center mb-4">Registrazione profilo</h1>
        <form>
          <div class="form-group">
            <label for="name">Nome</label>
            <input type="text" class="form-control" id="name" placeholder="Inserisci il tuo nome">
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" placeholder="Inserisci la tua email">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Inserisci la tua password">
          </div>
          <div class="form-group">
            <label for="confirmPassword">Conferma Password</label>
            <input type="password" class="form-control" id="confirmPassword" placeholder="Conferma la tua password">
          </div>
          <button type="submit" class="mt-2 btn btn-success btn-block">Registrati</button>
        </form>
      </div>
    </div>
  </div>
