<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a routerLink="/home" class="navbar-brand" href="#">
        <img src="https://play-lh.googleusercontent.com/WVHZOV1MSyuXLD2H00Wbgav8NMM7NfwZdb2pvWUYmvMuiR2vaRWP58XwoznAgZCkVg"
          alt="logo sito" class="logo-image">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/utenti" routerLinkActive="active"*ngIf="utente">Utenti</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/login" routerLinkActive="active" *ngIf="!utente">Accedi</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/register" routerLinkActive="active"*ngIf="!utente">Registrati</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/movies" routerLinkActive="active"*ngIf="utente">Films</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle profile-toggle" data-bs-toggle="dropdown" routerLink="/profile" routerLinkActive="active"*ngIf="utente">
              Profilo
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/profile/details" routerLinkActive="active">Details</a></li>
              <li><a class="dropdown-item" routerLink="/profile/favorite" routerLinkActive="active">Favorites</a></li>
            </ul>
          </li>
        </ul>
        <div class="text-end">
            <h6 *ngIf="utente" class=" text-warning">
                Benvenuto {{utente.user.nome}}
            </h6>
          <button type="button" id="logout" name="logout" class="btn btn-danger me-0" *ngIf="utente"(click)="logout()">Esci</button>
        </div>
      </div>
    </div>
  </nav>
