body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  h1{
    color: purple !important;
    }

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }

  h1 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
  }

  .movie-card {
    background-color: grey;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    overflow: hidden;
    font-size: 1.2rem;
  }

  .movie-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .movie-card .card-body {
    padding: 20px;
  }

  .movie-card .card-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
  }

  .movie-card .card-text {
    color: #555;
  }
